footer {
    background-color: rgb(240, 244, 219);
    margin:5px;
    margin-top:10px;
    box-shadow: 5px 5px 5px gray;
    justify-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "a b" "c d";
}

.footerContacts {
    grid-area: c;
}
.footerText {
    grid-area: d;
    margin-bottom: 20px;
}